.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 100vh;
  position: relative;

  .left {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 88%;

    img {
      width: 70%;
      object-fit: cover;
      height: calc(100vh - 100px);
    }

    .box {
      position: absolute;
      bottom: 0;
      right: 26%;
      width: 120px;
      height: 90px;
      background: red;
    }

    .line {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 300px;
      background: red;
    }

    span {
      position: absolute;
      bottom: 200px;
      right: 50px;
      color: red;
      font-size: 75px;
      font-weight: 600;
    }
  }

  .title {
    position: absolute;
    top: 30%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;

    span {
      text-transform: uppercase;
      font-size: 48px;
    }
  }

  .right {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    .box {
      position: absolute;
      bottom: 90px;
      right: 0;
      width: 80px;
      height: 250px;
      background: gray;
    }

    .quote {
      display: flex;
      flex-direction: column;
      padding: 40px;
      width: 40%;
      height: 300px;
      color: white;
      gap: 20px;
      span {
        font-size: 18px;
        line-height: 35px;
      }
      p {
        color: red;
        font-weight: 200;
      }
    }
  }
}
