.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
  padding: 100px 0;
  .sectionTitle {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Bebas Neue", cursive;
    margin-bottom: 100px;

    span {
      color: hsl(217, 76%, 53%);
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .innerContainer {
    padding: 0 280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;

    .aboutInfo {
      text-align: left;
      .sectionSubtitle {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .infoList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        .infoItem {
          margin-bottom: 20px;
          font-size: 1rem;
          .infoTitle {
            color: hsl(0, 0%, 59%);
          }
          .infoDescription {
            font-weight: 700;
          }
        }
      }
      .button {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 25px;
        margin-top: 20px;
        border: 1px solid hsl(217, 76%, 53%);
        border-radius: 35px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        gap: 10px;
        text-decoration: none;
        color: hsl(217, 76%, 53%);
        font-weight: 700;
        &:hover {
          background-color: hsl(217, 76%, 53%);
          color: #fff;
        }
      }
    }

    .stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .statsBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
        border: 1px solid hsl(0, 0%, 87%);
        padding: 20px 30px 25px;
        border-radius: 5px;
        .statsNo {
          color: hsl(217, 76%, 53%);
          font-size: 50px;
          line-height: 1.2;
        }
        .statsTitle {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 15px;
          font-weight: bold;
          line-height: 1.6;
          padding-left: 45px;
          position: relative;
          color: hsl(0, 0%, 50%);
          text-align: left;

          &::before {
            content: "";
            background-color: hsl(0, 0%, 50%);
            position: absolute;
            left: 0;
            top: 25%;
            width: 30px;
            height: 1px;
          }
        }
      }
    }
  }
}
