.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: 450px;

  img {
    width: 30%;
    height: 450px;
    aspect-ratio: 9/16;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: all 1s ease;
    border: 4px solid #ff0000;

    &:hover {
      width: 100%;
      transform: scale(1.1);
      filter: grayscale(0) !important;
      z-index: 999;
    }
  }
}
